body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
    /* Background image */

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image: url("prof.jpg"); /* Replace 'log.jpg' with the path to your image */
    background-size: cover; /* Remove default body padding */
}
.container {
    text-align: center;
    color: rgb(255, 255, 255)
}
/* Additional styles can be added as needed */
.logout-link {
    display: block;
    color: rgb(255, 255, 255)

}