body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
    /* Background image */
    background-image: url("log.jpg"); /* Replace 'log.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the background covers the entire viewport height */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

h1, h2, p {
    
    text-align: center;
    color: rgb(255, 255, 255); /* Optional: Set text color to white for better contrast */
}
.content {
    text-align: center;
}

button {
    align-items: center;
    padding: 3px 6px;
    background-color: #00ffea00; /* Optional: Set button background color */
    color: rgba(255, 255, 255, 0); /* Optional: Set button text color */
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0057b300; /* Optional: Change button background color on hover */
}
.btn {
    align-items: center;
    padding: 10px 20px;
    background-color: #00ffff6a; /* Optional: Set button background color */
    color: rgb(255, 255, 255); /* Optional: Set button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3000b396; /* Optional: Change button background color on hover */
}
