 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            /* Background image */
            background-image: url('prof.jpg'); /* Replace 'your_image_url_here' with your actual image URL */
            background-size: cover; /* Cover the entire background */
            background-position: center; /* Center the background image */
        }
        .content {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.7);  /*Optional: Add background color with opacity */
            padding: 20px;
            border-radius: 10px;
        }
        form {
            text-align: center;
        }