<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <div>
        <h1>NetworkingWA</h1>   
        <h2>Login with Google</h2>
        <p>Please click the button below to login with your Google account.</p>
        <button>Login with Google </button>
        <a href="/login" class="btn">Login with Google</a>
    </div>
</body>
</html>
