<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profilestyle.css') }}">

</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <!-- Add more profile information as needed -->
        <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
    </div>
</body>
</html>
